@import "../../_variables.scss";
@import "../../_mixins.scss";

.main {
  height: 688px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.main::-webkit-scrollbar {
  @include equilateral(0);
}

.mainScrolled {
  scrollbar-width: thin;
  scrollbar-color: $neuteral-color transparent;
}

.mainScrolled::-webkit-scrollbar {
  width: 5px;
  height: auto;
}

.mainScrolled::-webkit-scrollbar-track {
  background: transparent;
}

.mainScrolled::-webkit-scrollbar-thumb {
  background-color: $neuteral-color;
  border-radius: 2px;
  border: 1px solid $main-color;
}

.item {
  width: 100%;
  height: 166px;
  margin: 8px 0;
  padding: 4px;
  border-radius: 7px;
  @include box(border-box);
  background: #f4f8ff;
}
