.item {
  width: 100%;
  height: 158px;
  padding: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: var(--back-color);
}

.title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.titleCheckbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.titleCheckbox + .titleText {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.titleCheckbox + .titleText::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  padding: 2px 0px 0px 0px;
  margin-right: 8px;
  border-radius: 4px;
  border: 1px solid #aab7d4;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #f8fafb;
}

.titleText {
  display: -webkit-box;
  display: box;
  -ms-line-clamp: 3;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0px;
  color: var(--primary-color);
}

.description {
  width: 100%;
  height: 43px;
  margin: 8px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.descriptionDates,
.descriptionText {
  width: 100%;
  height: 19px;
}

.descriptionDates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.descriptionDate,
.descriptionText {
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0px;
}

.descriptionDate {
  font-weight: 600;
  color: var(--secondary-color);
}

.descriptionText {
  font-weight: 400;
  color: var(--neuteral-color);
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
}

.titleSpan {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding-top: 2px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.descriptionAdditionaly {
  width: 100%;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.descriptionTags {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.descriptionTag {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 1px 6px 2px;
  font-size: 12px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0px;
}

.descriptionTag:first-of-type {
  border-radius: 4px;
  margin-right: 8px;
  background-color: #b233a6;
  color: var(--back-color);
}

.descriptionTag:last-of-type {
  border-radius: 4px 0px 0px 4px;
  background-color: #ebeef6;
  color: #616c82;
}

.descriptionArrow {
  margin-left: -3px;
}

.descriptionAvatar {
  width: 24px;
  height: 24px;
  border-radius: 18px;
}
