.Header {
  height: 20px;
  padding: 0px, 4px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Header__day {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0px;
  color: #50b810;
}

.Header__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Header__items-button {
  width: 20px;
  height: 20px;
  padding: 0;
  border-radius: 4px;
  background: #d9d9d9;
  font-size: 12px;
  line-height: 0.99;
  color: #3d8fec;
}

.Header__items-text {
  width: max-content;
  height: 20px;
  padding: 1px 6px 2px 6px;
  margin-left: 8px;
  border: 1px solid #7b8aab;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 12px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0px;
  color: #555555;
}
