@import "./normalize.css";

html {
  --back-color: #fff;
  --main-color: #000;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  background-color: var(--back-color);
}

body {
  width: 263px;
  height: 716px;
  margin: auto;
  background-color: var(--back-color);
}

h3,
h4 {
  margin: 0;
}
