@import "./normalize.css";

html {
  --back-color: #fff;
  --main-color: #000;
  --primary-color: #3d8fec;
  --secondary-color: #50b810;
  --neuteral-color: #555555;

  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  background-color: var(--back-color);
}

body {
  width: 263px;
  height: 716px;
  margin: auto;
  background-color: var(--back-color);
}

h3,
h4,
h5 {
  margin: 0;
}
